<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kedge.ws.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Kedge.ws.Properties.Settings>
            <setting name="KedgeWebService_AgentflowWeb_AgentflowWebService"
                serializeAs="String">
                <value>http://220.130.9.24:8080/WebAgenda/webservice/AgentflowWeb.jws</value>
            </setting>
            <setting name="KedgeWebService_EngineerPR_EngineerPRService"
                serializeAs="String">
                <value>http://agentflow-qa.kindom.com.tw:8080/WebAgenda/webservice/EngineerPR.jws</value>
            </setting>
            <setting name="KedgeWebService_EngineerBillWeb_EngineerBillWebKedgeService"
                serializeAs="String">
                <value>http://agentflow-qa.kindom.com.tw:8080/WebAgenda/webservice/EngineerBillWebKedge.jws</value>
            </setting>
            <setting name="KedgeWebService_EngineerPRExt_EngineerPRService"
                serializeAs="String">
                <value>http://220.130.9.24:8080/WebAgenda/webservice/EngineerPR.jws</value>
            </setting>
            <setting name="KedgeWebService_EngineerBillWebExt_EngineerBillWebKedgeService"
                serializeAs="String">
                <value>http://220.130.9.24:8080/WebAgenda/webservice/EngineerBillWebKedge.jws</value>
            </setting>
            <setting name="KedgeWebService_EngineerERPWeb_EngineerERPWebService"
                serializeAs="String">
                <value>http://agentflow-qa.kindom.com.tw:8080/WebAgenda/webservice/EngineerERPWeb.jws</value>
            </setting>
            <setting name="KedgeWebService_EngineerERPWebExt_EngineerERPWebService"
                serializeAs="String">
                <value>http://220.130.9.24:8080/WebAgenda/webservice/EngineerERPWeb.jws</value>
            </setting>
            <setting name="KedgeAgentFlowWS_ExpenseClaimWeb_KEDGEWebServiceService"
                serializeAs="String">
                <value>http://220.130.9.26:8080/WebAgenda/webservice/KEDGEWebService.jws</value>
            </setting>
        </Kedge.ws.Properties.Settings>
    </applicationSettings>
</configuration>