<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Oracle.ManagedDataAccess" version="19.9.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net471" />
  <package id="Xceed.Document.NET" version="2.3.22263.20500" targetFramework="net48" />
  <package id="Xceed.Pdf" version="2.3.22263.20500" targetFramework="net48" />
  <package id="Xceed.Words.NET" version="2.3.22263.20500" targetFramework="net48" />
</packages>